extends layout

block content
  #body
    p Welcome to #{title}
    #songbooks.list
      .listHeader
        h2 Songbooks
      #songbooksMain.listMain
        p Loading Songbooks...
      .listFooter
        input#addSongbook.add.hidden(type='button', value='New')
    #songs.list
      .listHeader
        h2 Songs
      #songsMain.listMain
        p Loading Songs...
      .listFooter
        input#addSong.add.hidden(type='button', value='New')
  #footer
  script(type='text/javascript', src='/js/main.js')
