extends layout

block content
  #body
    p Welcome to #{title}
    #songbook.list
      .listHeader
        h2 Songbook
      #songbookMain.listMain
        p Loading songbook...
      .listFooter
    #moveArrows
      #leftArrow.arrow.disabled
        | &#x21e6;
      #rightArrow.arrow.disabled
        | &#x21e8;
    #songs.list
      .listHeader
        input#addSong.add.hidden(type='button', value='New')
        h2 Songs
      #songsMain.listMain
        p Loading available songs...
      .listFooter

  #footer
  script(type='text/javascript', src='/js/main.js')
