extends layout

block content
  #body
    form(name='songtext', action='/song-submit', method='post')
      textarea#songtext(name='songtext', placeholder='Copy your song text here.')= songText
      br
      input#update(name='update', type='hidden', value=update)
      input#submit(type='submit', value='Submit', disabled)
      input#cancel(type='button', value='Cancel')
  script(type='text/javascript' src='/js/songEdit.js')
  script.
    if ('!{error}') {
      if('!{error}' === 'songExists' ) {
        window.alert('Sorry, a song with that name already exists.');
      } else {
        window.alert('Sorry, the song could not be edited at this time. Please try again later.');
        window.location.href = '/songEditError=1';
      }
    }

