body {
    margin: 0;
    padding: 0;
    font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
    background-image: url(/img/background.png);
}

a {
    color: #00B7FF;
}

.hidden {
    display: none;
}


/* HEADER */

#header {
    background-color: #9cf;
    border-bottom: 1px solid #666;
}

#header:hover {
    cursor: default;
}

#header h1 {
    margin: 0;
    padding: 0.3em;
    font-family: 'Calibri Light', 'Helvetica Neue', Arial, sans-serif;
}

#body {
    margin: 1em;
    height: 600px;
}


/* MAIN PAGE */

.list {
    display: inline-block;
    position: relative;
    height: 600px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #666;
    margin-right: 2em;
    vertical-align: top;
}

.listHeader {
    border-bottom: 1px solid #999;
    height: 52px;
}

.listHeader input {
    position: absolute;
    right: 0;
}

.listMain {
    height: 550px;
    overflow: auto;
}

.list h2 {
    margin: 0;
    padding: 0.5em;
}

.list p {
    margin-left: 0.5em;
}

.list ul {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.list li {
    margin: 0;
    padding: 0.3em;
    list-style: none;
    border-top: 1px none;
    border-bottom: 1px solid #ccc;
}

.list li:hover {
    background-color: #f0f7ff;
    /* border: 1px solid #009; */
    /* cursor: pointer; */
}

.list span:hover {
    color: #009;
}

/*
.list li:active {
    background-color: #009;
    color: #f0f7ff;
}


.list span:active {
    padding: 0 0.2em;
    color: inherit;
    background-color: inherit;

}
*/

.list input,
.list span {
    margin-right: 0.2em;
}

.list input.add {
    margin: 0.2em;
}

#songbooks {
    width: 30em;
}

#songs {
    width: 30em;
}


/* SONG EDITOR */

textarea#songtext {
    height: 500px;
    width: 50%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #666;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
}

button#submitSongtext {
    width: 5em;
    height: 2em;
}

input#cancel {
    margin-left: 2em;
}
